%div#stock_short_info
  %table.table-bordered.table-striped
    %tbody
      %tr
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.name", :default => 'name')
        %td#name{'width'=>'160px'} 
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.stockExchange", :default => 'stockExchange')
        %td#stockExchange{'width'=>'160px'}
      %tr        
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.lastTrade", :default => 'lastTrade')
        %td#lastTrade{'width'=>'160px'} 
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.change", :default => 'change')
        %td#change{'width'=>'160px'}
      %tr        
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.dayRange", :default => 'dayRange')
        %td#dayRange{'width'=>'160px'} 
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.changeInPercent", :default => 'changeInPercent')
        %td#changeInPercent{'width'=>'160px'}  
      %tr        
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.weeks52Range", :default => 'weeks52Range')
        %td#weeks52Range{'width'=>'160px'} 
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.marketCap", :default => 'marketCap')
        %td#marketCap{'width'=>'160px'}
      %tr        
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.movingAve50days", :default => 'movingAve50days')
        %td#movingAve50days{'width'=>'160px'}
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.movingAve200days", :default => 'movingAve200days')
        %td#movingAve200days{'width'=>'160px'}
      %tr        
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.earningsPerShare", :default => 'earningsPerShare')
        %td#earningsPerShare{'width'=>'160px'}       
        %td{'width'=>'160px', 'align'=>'right'}
        %td{'width'=>'160px'}
      %tr        
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.peRatio", :default => 'peRatio')
        %td#peRatio{'width'=>'160px'} 
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.pegRatio", :default => 'pegRatio')
        %td#pegRatio{'width'=>'160px'}
      %tr        
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.bookValue", :default => 'bookValue')
        %td#bookValue{'width'=>'160px'} 
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.pricePerBook", :default => 'pricePerBook')
        %td#pricePerBook{'width'=>'160px'}                
      %tr        
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.pricePerSales", :default => 'pricePerSales')
        %td#pricePerSales{'width'=>'160px'}
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.ebitda", :default => 'ebitda')
        %td#ebitda{'width'=>'160px'} 
      %tr        
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.dividendPerShare", :default => 'dividendPerShare')
        %td#dividendPerShare{'width'=>'160px'}
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.dividendYield", :default => 'dividendYield')
        %td#dividendYield{'width'=>'160px'}               
      %tr        
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.exDividendDate", :default => 'exDividendDate')
        %td#exDividendDate{'width'=>'160px'}
        %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.dividendPayDate", :default => 'dividendPayDate')
        %td#dividendPayDate{'width'=>'160px'}

