- if admin?
  = link_to t('.new', :default => t("helpers.links.new")), new_stocklist_path, :class => 'btn btn-primary pull-right', style: "z-index: 10"

%div{"ng-app" => "Stocklists", "ng-controller" => "StocklistsCtrl"}
  %div{style: "width: 380px"}
    %h4{style: "color: blue; display: inline-block"} Listed Stocks
    %input.input-mini.search-query.pull-right{type:"text", "ng-model" => 'search.symbol', style: "display: inline-block", placeholder: "Symbol"}
    %input.input-small.search-query.pull-right{type:"text", "ng-model" => 'search.name', style: "display: inline-block", placeholder: "Name"}    

  %div{"id" => "stocklist-list-container"}
    %ul
      %li{"ng-repeat"=>"stocklist in stocklists| filter:search | orderBy:predicate:reverse", "ng-click"=>"showStocklist(stocklist)"}
        %h5 {{stocklist.symbol}} 
        %small{:display => 'inline-block'} {{stocklist.name}}

  %div{"id"=>"stocklist-view-container", "ng-show"=>"selectedStocklist"}
    %h4 {{selectedStocklist.symbol}}
    %p {{selectedStocklist.name}}
    %p Exchange: {{selectedStocklist.stockexchange}} 
    %p Industry: {{selectedStocklist.industry}}
    %p Sector: {{selectedStocklist.sector}}
    %p {{selectedStocklist.ipoyear}}
