-if !current_user.admin?
  %h6
    You dont have admin privileges
    
%div{"ng-app" => "Users", "ng-controller" => "UsersCtrl"}
  %div{"id" => "user-list-container"}
    %ul
      %li{"ng-repeat"=>"user in users", "ng-click"=>"showUser(user)"}
        %h3 {{user.name}}

  %div{"id"=>"user-view-container", "ng-show"=>"selectedUser"}
    %h2 {{selectedUser.name}}
    %p {{selectedUser.email}}
    %p
      Created at {{selectedUser.created_at | date: 'mediumDate'}}
    %p Admin: {{ selectedUser.admin }}
