%table.table-bordered.table-striped
  %tbody
  - #debugger
  - @inhash.first[1].each do |key, val|
    - next if key == 'symbol'
    %tr
      %td{'width'=>'160px', 'align'=>'right'}=t("stockcodes.#{key}", :default => key)
      %td{'width'=>'160px'}= val.html_safe
    


