- symbol = @symbol || 'AAPL'
%div
  - if @group == "2"
    %img#stock_image{:src => StockGoogleGraph.get_google_graph_url(symbol)}
  - @hashlist.each do |hsh|
    = render :partial => 'hash_info', :object => @inhash = StockDataFetch.specialized_quotes(symbol, hsh)
    
