- symbol = @symbol || 'AAPL'
-#&chsc=2
%div
  - if @group == "2"
    - img_url = StockGoogleGraph.get_google_graph_url(symbol)
    %img#stock_image{src: "#{img_url}&chs=327x180&p=1d", data: {fancydiv: "#fancydiv"}}
    %div#fancydiv
      %img#fancy_image{src: "#{img_url}&chsc=3&chs=490x270&p=1d"}
    %table.table.table-bordered.table-condensed#period_selection
      %tr
        %td 1d
        %td 3d
        %td 5d
        %td 1M
        %td 3M
        %td 6M
        %td 1Y
        %td 2Y
        %td 5Y
        %td max
  - @hashlist.each do |hsh|
    = render :partial => 'hash_info', :object => @inhash = StockDataFetch.specialized_quotes(symbol, hsh)
    
:coffee
  $().ready ->
    if "#{@group}" == '2'
      $('#stock_image').fancyZoom({scaleImg: true, closeOnClick: true, width: 490, height: 270})

