- @no_sidebar = true
%h4 Yahoo Info
.span3
  = label :yahoo, :symbol, :class => :label
  = text_field :yahoo, :symbol, :class => 'text_field'

#stock_info
#stock_info2

-#TODO: This code is used in 2 places (view/stock_fetch/yahoo_info.html.haml &views/stocklists/show.html.haml)
:javascript
  $().ready(function() {
    $('#yahoo_symbol').blur(function(){
      if ($('#yahoo_symbol').val() == '') return false;
      var values = "yahoo_symbol="+$('#yahoo_symbol').val();
      $.ajax({
        url: "#{stock_fetch_fetch_data_path}",
        data: values,
        success: function(data) { 
          $("div#stock_info").html(data);
        },
        failure: function(data) { alert("failure"); }
      });
      $.ajax({
        url: "#{stock_fetch_fetch_data_path}?group=2",
        data: values,
        success: function(data) { 
          $("div#stock_info2").html(data);
          $($('#period_selection td')[0]).css('color', 'blue')
          $($('#period_selection td')[0]).css('text-decoration','underline')
        },
        failure: function(data) { alert("failure"); }
      });
    });
  });
