- @no_sidebar = true
%h4 Yahoo Info
.span3
  = label :yahoo, :symbol, :class => :label
  = text_field :yahoo, :symbol, :class => 'text_field'
  = link_to "Fetch Data", "#", :class => 'btn btn-block', :id => 'fetch_data'

#stock_info
#stock_info2

:coffee
  tmp_loader = ->
    return false if ($('#yahoo_symbol').val() == '')
    load_yahoo_info "#{stock_fetch_fetch_data_path}?yahoo_symbol="+$('#yahoo_symbol').val()
      
  $().ready ->
    $('#yahoo_symbol').blur ->
      tmp_loader()
      
    $('#fetch_data').click ->
      tmp_loader()
      
    $.fn.fancyZoom($('#stock_image'))
