// Place all the styles related to the stocklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#stocklist-ctrl {
  background-color: #fff;
  position: absolute;
  top: 37px;
  width: 100%;
  bottom: 0;
  overflow: auto;
}

#stocklist-list-container {
  background-color: #fff;
  position: absolute;
  min-height: 550px;
  width: 380px;
  top: 80px;
  left: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    li {
      cursor: pointer;
      border-bottom: 1px solid #ddd;
      padding: 0 10px;
    }
    :hover { 
        background-color: #ffe; 
    }
  }
  h5 {
    font-size: 10px;
    display: inline-block;
    small {
      font-size: 8px;
      color: #ccc;
      font-weight: normal;
      display: inline-block;
    }
    &.active {
      color: red;
    }
  }
  z-index: 10;
}

#stocklist-view-container, #stocklist-new-container {
  position: absolute;
  border-left: 1px solid #d0d0d0;
  top: 80px;
  left: 380px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  min-height: 700px;
  padding: 0px 25px;
  z-index: -2;
}

#stocklist-new-container {
  display: none;
}
