// Place all the styles related to the stock_fetch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div img#stock_image {
  border: none;
}

table#period_selection {
  width: 328px;
}

table#period_selection td {
  background-color: grey;
  text-align: center;
  font-weight: bold;
}

.css_light_box {
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out; 
}
.css_light_box:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);  
}

.symbol_field {
  text-transform: uppercase;
}
