.span2.inline.login_icons
  %span.valign-bottom= link_to 'Sign In', new_user_session_path
  %span.valign-bottom= link_to image_tag("facebook_32.png"), :auth_facebook_path
  %span.valign-bottom= link_to image_tag("twitter_32.png"), :auth_twitter_path
  <!--img class="-cx-PRIVATE-uiSquareImage__root viewerProfilePic -cx-PRIVATE-uiSquareImage__large img" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/41676_538139401_7774_q.jpg"-->
